<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Add Team</title>
  <link rel="stylesheet" th:href="@{/style.css}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:wght@100&family=Quicksand|Raleway">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div th:replace="~{general :: page-header}"></div>

<div class="indent">
  <h1 class="centered">Add Team</h1>
  <div class="edit">
    <form th:action="@{/add_new_team}" method="post">
      <input name="teamname" placeholder="Team Name"/>
      <input name="sport" placeholder="Sport"/>
      <input name="country" placeholder="Country"/>
      <textarea name="description" placeholder="Description" rows="6"></textarea>
      <input type="submit" class="button searchbtn" value="Submit"/>
    </form>
  </div>
</div>

<div th:replace="~{general :: site-footer}"></div>

</body>
</html>