<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Edit Event</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:wght@100&family=Quicksand|Raleway">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div th:replace="~{general :: page-header}"></div>

<div class="indent">
    <h1 class="centered">Edit Event</h1>
    <div class="edit">
        <form th:action="@{/edit_event}" method="post">
            <input type="hidden" name="eventID" th:value="${event.getId()}"/>
            <input name="title" th:value="${event.getTitle()}" text="Title" placeholder="Title"/>
            <input name="sport" th:value="${event.getSport()}" text="Sport" placeholder="Sport"/>
            <input name="tournament" th:value="${event.getTournament()}" text="Tournament" placeholder="Tournament"/>
            <input name="venue" th:value="${event.getVenue()}" text="Venue" placeholder="Venue"/>
            <input type="date" name="date" th:value="${event.getDate()}" text="Date" placeholder="Date"/>
            <input name="seats"  th:value="${event.getSeats()?.toString()}" text="Seats" placeholder="Seats"/>
            <input name="results"  th:value="${event.getResults()?.toString()}" text="Results" placeholder="Results"/>
            <textarea name="description" th:text="${event.getDescription()}" text="Description" placeholder="Description" rows="6"></textarea>
            <input type="submit" class="button searchbtn" value="Submit"/>
        </form>
    </div>
</div>

<div th:replace="~{general :: site-footer}"></div>

</body>
</html>