<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Edit Team</title>
  <link rel="stylesheet" th:href="@{/style.css}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:wght@100&family=Quicksand|Raleway">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div th:replace="~{general :: page-header}"></div>

<div class="indent">
  <h1 class="centered">Edit Team</h1>
  <div class="edit">
    <form th:action="@{/edit_team}" method="post">
      <input name="teamID" type="hidden" th:value="${team.getId()}"/>
      <input name="teamname" th:value="${team.getTeamName()}" text="Team Name" placeholder="Team Name"/>
      <input name="sport" th:value="${team.getSport()}" text="Sport" placeholder="Sport"/>
      <input name="country" th:value="${team.getCountry()}" text="Country" placeholder="Country"/>
      <textarea name="description" th:text="${team.getDescription()}" text="Description" placeholder="Description" rows="6"></textarea>
      <input type="submit" class="button searchbtn" value="Submit"/>
    </form>
  </div>
</div>

<div th:replace="~{general :: site-footer}"></div>

</body>
</html>