<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Error</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:wght@100&family=Quicksand|Raleway">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<div th:replace="general :: page-header"> </div>

<div class="bg-image error-page">
    <div class="container">
        <h1>Page not found</h1>
        <p>Oops...Uh oh, we can`t seem to found the page you`re looking for. Maybe get back to
            <a href="/">Main page</a>?
        </p>
    </div>
</div>

<div class="indent">
</div>

<div th:replace="general :: site-footer"></div>
</body>
</html>