<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Event</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .indent {
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 20px;
        }
    </style>
</head>
<body>

<div th:replace="general :: page-header"></div>

<div class="indent">
    <div class="eventDesc">
        <h4 th:text="${event.getTitle()}"></h4>
        <span th:text="${event.getSport()}"></span><br>
        <span th:text="${event.getTournament()}"></span><br>
        <span th:text="${event.getVenue()}"></span><br>
        <span th:text="${#temporals.format(event.getDate(), 'HH:mm dd MMMM yyyy')}"></span>

    </div>
    <div th:replace="general :: site-footer"></div>
</div>

</body>
</html>