<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:wght@100&family=Quicksand|Raleway">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<!--page header-->
<nav class="header" th:fragment="page-header">
    <div class="main-menu">
        <ul>
            <li class="main-menu-item active">
                <a href="/">Main page</a>
            </li>
            <li class="main-menu-item">
                <a th:href="@{events}">Events</a>
            </li>
            <li class="main-menu-item">
                <a th:href="@{teams}">Teams</a>
            </li>
            <li class="main-menu-item">
                <a th:href="@{'/persons?type=sportsman'}">Sportsmen</a>
            </li>
            <li class="main-menu-item">
                <a th:href="@{'/persons?type=coach'}">Coaches</a>
            </li>
            <li class="main-menu-item">
                <a href="https://github.com/ArianaKhit/Web-prac">GitHub</a>
            </li>
        </ul>
    </div>
</nav>
<!--end of page header-->

<div class="footer" th:fragment="site-footer">
    <div class="footer-container">
        <p>
            Web technologies practical course. CMC MSU.
            <br>
            Ariana Khitrova, 2023
            <br>
        </p>
    </div>
</div>

</body>
</html>