<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Главная страница</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:wght@100&family=Quicksand|Raleway">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div th:replace="general :: page-header"></div>

<div class="bg-image">
    <div class="container">
        <h1>Sport Events</h1>
        <p>Browse events</p>
    </div>
</div>

<div class="indent">
    <h1 class="text-center">Sport event portal</h1>
    <br>
    Information about sport events, players, teams and coaches.
    <br>
    <p>
        This project made using Java with Spring Framework, Hibernate and PostgreSQL database.
    </p>
</div>

<div th:replace="general :: site-footer"></div>

</body>
</html>