<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Person</title>
  <link rel="stylesheet" th:href="@{/style.css}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:wght@100&family=Quicksand|Raleway">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div th:replace="~{general :: page-header}"></div>

<div class="indent">
  <div>
    <div class="container">
      <h1 th:text="${person.getName()}"></h1>
      <a text="Edit" th:href="@{/editperson(type=${param.type},personID=${person.getId()})}" class="button addbtn">Edit</a>
      <form method="post" action="/delete_person">
        <input type="hidden" name="personID" th:value="${person.getId()}"/>
        <input type="hidden" name="type" th:value="${param.type}"/>
        <button class="button addbtn delbtn" type="submit">Delete</button>
      </form>

    </div>
    <span th:text="${person.getSport()}"></span><br>
    <span th:text="${person.getCountry()}"></span><br>
    <span th:text="${#temporals.format(person.getBirthDate(), 'dd MMMM yyyy')}"></span><br>
    <div class="desc">
      <span th:text="${person.getDescription()}"></span>
    </div>

  </div>


  <div th:if="${#strings.toString(param.type)} == 'coach'">
    <div class="container">
      <h2>Sportsmans</h2>
      <a th:href="'/persons?type=sportsman&coachID=' + ${person.getId()}" class="button addbtn">Add sportsman to coach</a>
    </div>
    <table>
      <thead>
        <tr>
          <th>Name</th><th>Country</th><th></th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="pers, iter: ${c_sportsmen}">
          <td>
            <a th:text="${pers?.getSportsman()?.getName()}" th:href="@{/person(type='sportsman',personID=${pers?.getSportsman()?.getId()})}"></a>
          </td>
          <td th:text="${pers?.getSportsman()?.getCountry()}"></td>
          <td>
            <a th:text="'delete'" th:href="@{/del_pers_from_coach(coachID=${person.getId()},personID=${pers?.getSportsman()?.getId()})}" class="button"></a>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="container">
      <h2>Teams</h2>
      <a th:href="'/teams?&coachID=' + ${person.getId()}" class="button addbtn">Add team to coach</a>
    </div>
    <table>
      <thead>
        <tr>
          <th>Name</th><th>Country</th><th></th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="team, iter: ${c_teams}">
          <td>
            <a th:text="${team?.getTeam()?.getTeamName()}" th:href="@{/team(teamID=${team?.getTeam()?.getId()})}"></a>
          </td>
          <td th:text="${team?.getTeam()?.getCountry()}"></td>
            <td>
                <a th:text="'delete'" th:href="@{/del_team_from_coach(coachID=${person.getId()},teamID=${team?.getTeam()?.getId()})}" class="button"></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div th:if="${#strings.toString(param.type)} == 'sportsman'">
    <h2>Coaches</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th><th>Country</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="pers, iter: ${c_sportsmen}">
          <td>
            <a th:text="${pers?.getCoach()?.getName()}" th:href="@{/person(type='coach',personID=${pers?.getCoach()?.getId()})}" class="button"></a>
          </td>
          <td th:text="${pers?.getCoach()?.getCountry()}"></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<div th:replace="~{general :: site-footer}"></div>

</body>
</html>