<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Person page</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:wght@100&family=Quicksand|Raleway">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>

<div th:replace="~{general :: page-header}"></div>

<div class="indent">
    <h1>Persons</h1>
    <a th:href="@{/addperson(type=${param.type})}" class="button addbtn">Add person</a>
    <div class="filters">
        <form action="/persons" method="get">
            <div th:if="${param.eventID != null}">
                <input name="eventID" type="hidden" th:value="${param.eventID}"/>
            </div>
            <div th:if="${param.coachID != null}">
                <input name="coachID" type="hidden" th:value="${param.coachID}"/>
            </div>
            <div th:if="${param.teamID != null}">
                <input name="teamID" type="hidden" th:value="${param.teamID}"/>
            </div>
            <input name="type" type="hidden" th:value="${param.type}"/>
            <label class="input-label">Name</label>
            <input name="name" th:value="${param.name}"/>
            <label class="input-label">Sport</label>
            <input name="sport" th:value="${param.sport}"/>
            <label class="input-label">Country</label>
            <input name="country" th:value="${param.country}"/>
            <input type="submit" class="button searchbtn" value="Search"/>
        </form>
    </div>

    <div class="info">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Sport</th>
                    <th>Country</th>
                    <th>Date of birth</th>
                    <th th:if="${param.eventID != null}">Add to event</th>
                    <th th:if="${param.coachID != null}">Add to coach</th>
                    <th th:if="${param.teamID != null}">Add to team</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="person, iter: ${persons}" th:onclick="|location.href='@{/person(type=${param.type}, personID=${person.getId()})}'|">
                    <td th:text="${person.getName()}">
                    </td>
                    <td th:text="${person.getSport()}"></td>
                    <td th:text="${person.getCountry()}"></td>
                    <td th:text="${#temporals.format(person.getBirthDate(), 'dd MMMM yyyy')}"></td>
                    <td th:if="${param.eventID != null}">
                        <a th:text="'Add'" class="button searchbtn" th:href="@{/add_pers_to_event(type=${param.type},eventID=${param.eventID},personID=${person.getId()})}"></a>
                    </td>
                    <td th:if="${param.coachID != null}">
                        <a th:text="'Add'" class="button searchbtn" th:href="@{/add_pers_to_coach(type=${param.type},coachID=${param.coachID},personID=${person.getId()})}"></a>
                    </td>
                    <td th:if="${param.teamID != null}">
                        <a th:text="'Add'" class="button searchbtn" th:href="@{/add_pers_to_team(type=${param.type},teamID=${param.teamID},personID=${person.getId()})}"></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="~{general :: site-footer}"></div>

</body>
</html>