<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Teams</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:wght@100&family=Quicksand|Raleway">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div th:replace="general :: page-header"></div>

<div class="indent">
    <h1>Teams</h1>
    <div class="filters">
        Filters:
        <form action="/teams" method="get">
            <div th:if="${param.eventID != null}">
                <input name="eventID" type="hidden" th:value="${param.eventID}"/>
            </div>
            <div th:if="${param.coachID != null}">
                <input name="coachID" type="hidden" th:value="${param.coachID}"/>
            </div>
            <input name="teamname" th:value="${param.teamname}" placeholder="teamname"/>
            <input name="sport" th:value="${param.sport}" placeholder="sport"/>
            <input name="country" th:value="${param.country}" placeholder="country"/>
            <input type="submit" value="Submit"/>
        </form>
    </div>
    <a th:href="'/addteam'">Add team</a>

    <div class="info container">
        <table>
            <tr>
                <th>Name</th>
                <th>Sport</th>
                <th>Country</th>
                <th th:if="${param.coachID != null}">Add to coach</th>
                <th th:if="${param.eventID != null}">Add to event</th>
            </tr>

            <tr th:each="team, iter: ${teams}">
                <td>
                    <a th:text="${team.getTeamName()}" th:href="'/team?teamID=' + ${team.getId()}"></a>
                </td>
                <td th:text="${team.getSport()}"></td>
                <td th:text="${team.getCountry()}"></td>
                <td th:if="${param.coachID != null}">
                    <a th:text="'Add'" th:href="@{/add_team_to_coach(coachID=${param.coachID},teamID=${team.getId()})}"></a>
                </td>
                <td th:if="${param.eventID != null}">
                    <a th:text="'Add'" th:href="@{/add_team_to_event(eventID=${param.eventID},teamID=${team.getId()})}"></a>
                </td>
            </tr>
        </table>
    </div>
</div>

<div th:replace="general :: site-footer"></div>

</body>
</html>