<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Team</title>
  <link rel="stylesheet" th:href="@{/style.css}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:wght@100&family=Quicksand|Raleway">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div th:replace="~{general :: page-header}"></div>

<div class="indent">
  <div>
    <div class="container">
      <h1 th:text="${team.getTeamName()}"></h1>
      <a text="Edit" th:href="'/editteam?teamID=' + ${team.getId()}" class="button addbtn">Edit</a>
      <form method="post" action="/delete_team">
        <input type="hidden" name="teamID" th:value="${team.getId()}"/>
        <button type="submit" class="button addbtn delbtn">Delete</button>
      </form>
    </div>
    <span th:text="${team.getSport()}"></span><br>
    <span th:text="${team.getCountry()}"></span><br>
    <div class="desc">
      <span th:text="${team.getDescription()}"></span>
    </div>
  </div>
  <div>
    <div class="container">
      <h2>Participants</h2>
      <a th:href="'/persons?type=sportsman&teamID=' + ${team.getId()}" class="button addbtn">Add sportsman to team</a>
    </div>
    <table>
      <thead>
        <tr>
          <th>Name</th><th>Country</th><th></th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="pers, iter: ${t_sportsmen}" th:onclick="|location.href='@{/person(type='sportsman',personID=${pers?.getSportsman()?.getId()})}'|">
          <td th:text="${pers?.getSportsman()?.getName()}"></td>
          <td th:text="${pers?.getSportsman()?.getCountry()}"></td>
          <td>
            <a th:text="'delete'" th:href="@{/del_pers_from_team(teamID=${param.teamID},personID=${pers?.getSportsman()?.getId()})}" class="button searchbtn"></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <div>
    <h2>Coaches</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th><th>Country</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="pers, iter: ${t_coaches}" th:onclick="|location.href='@{/person(type='coach',personID=${pers?.getCoach()?.getId()})}'|">
          <td th:text="${pers?.getCoach()?.getName()}"></td>
          <td th:text="${pers?.getCoach()?.getCountry()}"></td>
        </tr>
      </tbody>
    </table>
  </div>


</div>

<div th:replace="~{general :: site-footer}"></div>

</body>
</html>